a {
    color:#FFFAFA; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    transition: 0.50s linear; /* Время изменения */
    text-decoration:none;
    font-size:32px;
    margin:80px;
   }
   a:hover {
    color: #DAA520; /* Цвет текста */
   }
   body table {
     background-color:black;
    
   }
 table p {
   color:#FFDEAD;
   font-size:35px
 }
 	table {
			width: 100%;
			border-collapse: collapse;
		}
	td {
			
			padding: 5px 10px;
     }
     h1 {
       font-size:50px;
       font-family:sans-serif;
       color:#B8860B;
       text-align:center;
     }
     h1 {
       font-size:50px;
       font-family:sans-serif;
       color:#B8860B;
       text-align:center;
     }
body {
  background-color: #24292d;
}

.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}
#btn4:checked~.switch label[for="btn4"] {
  background-color: white;
}
#btn5:checked~.switch label[for="btn5"] {
  background-color: white;
}
#btn6:checked~.switch label[for="btn6"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 340px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
#btn4:checked~.slider-inner .slides {
  transform: translate(-680px);
}
#btn5:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
#btn6:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
body {
  background-color:white;
}
 
nav {
position: fixed;
width: 99%;
height: 50px;
margin:0;
justify-content: space-between;
}
nav {
list-style: none;
float: left;
padding-right:10px;
}
body {
  background-color: #99bbb991;
}
.poi {
  width: 100%;
}
body {
  width: 100%;
}
